[submodule "03_AI_Automation/NemoClaw"]
	path = 08_Research_Labs/NemoClaw
	url = https://github.com/JoelStalin/NemoClaw.git

[submodule "07_Libraries_Tools/loader"]
	path = 07_Libraries_Tools/loader
	url = https://github.com/dperini/loader.git
[submodule "04_Workers/data/scrapling"]
	path = 04_Workers/data/scrapling
	url = https://github.com/D4Vinci/Scrapling.git
