MAILCOW_HOSTNAME=mail.getupsoft.com.do
MAILCOW_TZ=America/Santo_Domingo
MAILCOW_PROJECT_NAME=mailcow

SMTP_HOST=mail.getupsoft.com.do
SMTP_PORT=587
SMTP_USER=sistema@getupsoft.com.do
SMTP_PASS=CHANGE_ME_SMTP_PASSWORD
SMTP_SECURE=true
SMTP_FROM=sistema@getupsoft.com.do
SMTP_TEST_TO=sistema@getupsoft.com.do
