APP_DOMAIN=orca.getupsoft.com
APP_DOMAINS=orca.getupsoft.com orca.getupsoft.com.do
ORCA_PUBLIC_URL=https://orca.getupsoft.com
NVIDIA_API_KEY=
NVIDIA_API_KEY_KIMI=
NVIDIA_API_KEY_GEMMA=
ROWBOAT_HOST=
ROWBOAT_PROJECT_ID=
ROWBOAT_API_KEY=
ROWBOAT_TIMEOUT_SECONDS=60
AI_PROVIDER_TIMEOUT_SECONDS=60

