{
  "token": "{{ token }}",
  "host": "127.0.0.1",
  "port": 9060,
  "config_dir": "{{ config_dir | default('C:\\ProgramData\\PosPrintingSuite\\LocalPrinterAgent') }}",
  "log_dir": "{{ config_dir | default('C:\\ProgramData\\PosPrintingSuite\\LocalPrinterAgent') }}\\logs"
}
