<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="POS Printing Suite Agent"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Chefalitas"
    Scope="perMachine"
    UpgradeCode="{B9E0E9E2-4A5A-4D8A-8DA6-5B1B5D6C9A01}">
    <SummaryInformation Description="POS Printing Suite Agent" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="INSTALLDIR" Name="PosPrintingSuite">
        <Directory Id="AGENTDIR" Name="Agent" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="StartupFolder" />

    <Icon Id="AgentIcon" SourceFile="$(var.IconPath)" />

    <ComponentGroupRef Id="AgentFilesComponentGroup" />

    <Component Id="TrayShortcuts" Guid="*">
      <RegistryValue Root="HKLM" Key="Software\Chefalitas\PosPrintingSuite" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      <Shortcut Id="TrayDesktopShortcut"
                Directory="DesktopFolder"
                Name="POS Printing Suite Agent"
                Target="[SystemFolder]WindowsPowerShell\v1.0\powershell.exe"
                Arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;[AGENTDIR]tray_agent.ps1&quot;"
                WorkingDirectory="AGENTDIR"
                Icon="AgentIcon" />
      <Shortcut Id="TrayStartupShortcut"
                Directory="StartupFolder"
                Name="POS Printing Suite Agent"
                Target="[SystemFolder]WindowsPowerShell\v1.0\powershell.exe"
                Arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;[AGENTDIR]tray_agent.ps1&quot;"
                WorkingDirectory="AGENTDIR"
                Icon="AgentIcon" />
    </Component>

    <Feature Id="Complete" Title="POS Printing Suite Agent" Level="1">
      <ComponentRef Id="TrayShortcuts" />
      <ComponentGroupRef Id="AgentFilesComponentGroup" />
    </Feature>
  </Package>
</Wix>
